<!DOCTYPE html>
<html>
  <head>
    <title><%= @meta_title %></title>
    <meta name="description" content="<%= @meta_description %>" />
    <meta name="keywords" content="<%= @meta_keywords %>" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
